
<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
  <div class="d-flex align-items-center">
    <img width="35" height="35" src="/static/icon/fastapi.png" class="rounded-circle" alt="...">
    <a class="navbar-brand p-2">Index</a>
  </div>

  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/event">event</a>
      </li>

    </ul>
  </div>

<div>
  <a id="signin" class=" btn btn-outline-success my-2 my-sm-0" href="/signin">Signin</a>
  <!-- <a id="signout" class=" btn btn-outline-success my-2 my-sm-0" href="/signin">Signout</a> -->
</div>
</nav>